---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import VisiMisi from "../components/VisiMisi.astro";
import Pengumuman from "../components/Pengumuman.astro";
import Countdown from "../components/Countdown.astro";
import SaranAduan from "../components/SaranAduan.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="BEM STMIK Tazkia">
	<Navbar />
	<main>
		<Hero />
		<VisiMisi />
		<Pengumuman />
		<Countdown />
		<SaranAduan />
	</main>
	<Footer />
</Layout>
